<h1>Insta Clone</h1>
<h2>
  <li class="text-right">
    <ul><%= link_to "ログイン", new_user_session_path, class: "btn btn-success site-in"  %></ul>
    <ul><%= link_to "Facebookログイン", user_facebook_omniauth_authorize_path, class: "btn btn-info site-in" %></ul>
    <ul><%= link_to "新規登録", new_user_registration_path,class: "btn btn-primary site-in" %></ul>
  </li>
</h2>
