<h1>Insta Clone</h1>
<h2>
  <li class="text-right">
    <ul><%= link_to "ログイン", new_user_session_path, class: "btn btn-success site-in"  %></ul>
    <ul><%= link_to "Facebookログイン", user_facebook_omniauth_authorize_path, class: "btn btn-info site-in" %></ul>
    <ul><%= link_to "新規登録", new_user_registration_path,class: "btn btn-primary site-in" %></ul>
  </li>
</h2>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '341591436492959',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.3'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
