<% provide(:title,"InstaCloneについて")%>
<h1>InstaCloneについて</h1>
<div class="jumbotron text-left">
  <h2>試験用ユーザー</h2>
  <h3>
    <ul>
      <li>メールアドレス：example@example.com</li>
      <li>パスワード：foobar</li>
    </ul>
  </h3>
</div>
