<div class="center jumbotron">
  <div class="row">
    <div class="col-md-8">
      <% if user_signed_in? %>
        <h1>ログイン後のTOPページ</h1>
        <div class="text-center">
          <h3>写真一覧</h3>
          <%= render 'shared/feed' %>
        </div>
      <% else %>
        <h1>ログイン前のTOPページ</h1>
        <h2>
          <li class="text-right">
            <ul><%= link_to "ログイン", new_user_session_path, class: "btn btn-success"  %></ul>
            <ul><%= link_to "Facebookログイン", "#", class: "btn btn-info" %></ul>
            <ul><%= link_to "新規登録", new_user_registration_path,class: "btn btn-primary" %></ul>
          </li>
        </h2>
      <% end %>
    </div>
  </div>
</div>
