<div class="row">
  <div class="col-8">
    <% if user_signed_in? %>
      <%= render 'login' %>
    <% else %>
      <div class="center jumbotron">
        <%= render 'logout' %>
      </div>
    <% end %>
  </div>
</div>
