<% unless current_user.id == @photo.user_id %>
  <div class="col-3 col-md-6" id="like_form">
    <% if current_user.liking?(@photo) %>
      <%= render 'users/unlike' %>
    <% else %>
      <%= render 'users/like' %>
    <% end %>
  </div>
<% end %>
