<% provide(:title, @photo.title) %>

<div class="row">
  <%= render 'shared/user_info' %>
  <div class="photos center">
    <%= render @photo %>
    <%= render 'shared/comment_form' %>
  </div>
</div>
