<p>こんにちわ！ <%= @user.user_name %>!</p>

<p>あなたのパスワード変更要求を受けました。 以下のリンクにより変更することができます。</p>
<p><%= link_to 'パスワードを変更する。', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>あなたがこの要求をしていない場合，このメールはご放念ください。</p>
<p>あなたが上記のリンクにアクセスして新しいパスワードを設定しない限り，パスワードは変更されません。</p>
